$primary: #cd1e1e;
$secondary: #29BABD;

$font-family-sans-serif: 'Open Sans', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;

// Grid settings

$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 1200px,
	lg: 1600px,
	xl: 1920px
);

$container-max-widths: (
	md: 900px,
	lg: 1000px
);