<footer>
	<div class="container">
		<p>
			&copy;2019 {{ site.title }} |
			<a href="https://www.unifiedcompliance.com/company/" target="_blank">About</a> |
			<a href="https://github.com/unifiedcompliance/agreements/blob/master/COPYRIGHT.md">Copyright Agreement</a>
		</p>
	</div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="/assets/scripts/swagger-ui-bundle.js"></script>
<script src="/assets/scripts/swagger-ui-standalone-preset.js"></script>
<script>
	if( yamlUrl ) {
		window.onload = function() {
			// Begin Swagger UI call region
			const ui = SwaggerUIBundle( {
				url: yamlUrl,
				dom_id: '#swagger-ui',
				deepLinking: true,
				presets: [
					SwaggerUIBundle.presets.apis,
					SwaggerUIStandalonePreset
				],
				plugins: [
					SwaggerUIBundle.plugins.DownloadUrl
				],
				layout: 'StandaloneLayout'
			} );
			// End Swagger UI call region
			
			window.ui = ui;
		};
	}
</script>

<script src="/assets/scripts/main.js"></script>