<ul class="table-of-contents">
	<li class="has-caret">
		<a href="/docs/api-with-examples"><span>API with Examples</span></a>
		<ul>
			<li><a href="/docs/api-with-examples">default</a></li>
		</ul>
	</li>
	<li class="has-caret">
		<a href="/docs/callback-example"><span>Callback Example</span></a>
		<ul>
			<li><a href="/docs/api-with-examples">default</a></li>
		</ul>
	</li>
	<li class="has-caret">
		<a href="/docs/link-example"><span>Link Example</span></a>
		<ul>
			<li><a href="/docs/link-example">default</a></li>
			<li><a href="/docs/link-example">Schemas</a></li>
		</ul>
	</li>
	<li class="has-caret">
		<a href="/docs/petstore"><span>Pet Store</span></a>
		<ul>
			<li><a href="/docs/petstore">metadata</a></li>
			<li><a href="/docs/petstore">search</a></li>
			<li><a href="/docs/petstore">Schemas</a></li>
		</ul>
	</li>
	<li class="has-caret">
		<a href="/docs/petstore-expanded"><span>Pet Store Expanded</span></a>
		<ul>
			<li><a href="/docs/petstore-expanded">metadata</a></li>
			<li><a href="/docs/petstore-expanded">search</a></li>
			<li><a href="/docs/petstore-expanded">Schemas</a></li>
		</ul>
	</li>
	<li class="has-caret">
		<a href="/docs/uspto"><span>USPTO</span></a>
		<ul>
			<li><a href="/docs/uspto">metadata</a></li>
			<li><a href="/docs/uspto">search</a></li>
			<li><a href="/docs/uspto">Schemas</a></li>
		</ul>
	</li>
</ul>