.table-characters {
	@include media-breakpoint-down(xs) {
		width: 1100px;
	}
	
	thead {
		td, th {
			font-size: .8em;
		}
	}
	
	tbody {
		td {
			max-width: 80px;
			
			&:last-child {
				max-width: unset;
			}
		}
	}
}