$element-size: 70px;

.element-container {
	width: 100%;
	position: relative;
	margin: $grid-gutter-width auto;
	
	.row {
		& + .row {
			margin-top: ($element-size / 2);
		}
		
		> .col {
			// SVG width + grid gutter width
			max-width: ($element-size + 30px);
		}
	}
	
	.border-left,
	.border-right,
	.border-top,
	.border-bottom {
		background: #000;
		position: absolute;
		z-index: 1;
	}
	
	.border-left,
	.border-right {
		width: ($element-size / 4);
		height: 1px;
		top: 50%;
	}
	
	.border-top,
	.border-bottom {
		width: 1px;
		height: ($element-size / 4);
		left: 50%;
	}
	
	.border-left {
		right: 100%;
	}
	
	.border-right {
		left: 100%;
	}
	
	.border-bottom {
		top: 100%;
	}
	
	.border-top {
		bottom: 100%;
	}
	
	.element {
		background-color: #fff;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top left;
		height: $element-size;
		padding: 1em;
		position: relative;
		width: $element-size;
		z-index: 2;
		
		.popover {
			border-radius: 4px;
			display: none;
			left: 0;
			position: absolute;
			top: 0;
			width: 320px;
			border-top: 3px solid red;
			box-shadow: 4px 8px 10px 0 rgba(#000, 0.2);
		}
		
		h3 {
			font-weight: $font-weight-normal;
			margin-top: 0;
		}
		
		p {
			font-size: .875rem;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		&.dark-blue {
			border-color: $dark-blue;
		}
		
		&.blue {
			border-color: $blue;
		}
	}
}