$element-size: 70px;

.element-container {
	width: 100%;
	position: relative;
	margin: $grid-gutter-width auto;
	
	// Number of elements in row + space in between them
	max-width: ($element-size * 7) + ($grid-gutter-width * 6);
	
	.row {
		& + .row {
			margin-top: $grid-gutter-width;
		}
		
		> .col {
			// SVG width + grid gutter width
			max-width: ($element-size + $grid-gutter-width);
		}
	}
	
	.border-left,
	.border-right,
	.border-top,
	.border-bottom {
		background: #000;
		position: absolute;
		display: block;
	}
	
	.border-left,
	.border-right {
		width: ($grid-gutter-width / 2);
		height: 1px;
		top: 50%;
	}
	
	.border-top,
	.border-bottom {
		width: 1px;
		height: ($grid-gutter-width / 2);
		left: 50%;
	}
	
	.border-left {
		right: 100%;
	}
	
	.border-right {
		left: 100%;
	}
	
	.border-bottom {
		top: 100%;
	}
	
	.border-top {
		bottom: 100%;
	}
	
	.vline-1,
	.vline-2 {
		width: 1px;
		position: absolute;
		background: #000;
		transform: translateY(-1px);
		top: ($element-size / 2) + 1;
	}
	
	.vline-1 {
		left: ($element-size * 3) + ($grid-gutter-width * 2) + ($grid-gutter-width / 2);
		height: ($element-size * 2) + ( $grid-gutter-width * 2);
	}
	
	.vline-2 {
		left: ($element-size * 4) + ($grid-gutter-width * 3) + ($grid-gutter-width / 2);
		height: ($element-size * 5) + ( $grid-gutter-width * 5);
	}
	
	.element {
		background-color: #fff;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top left;
		height: $element-size;
		position: relative;
		width: $element-size;
		
		.popover {
			border-radius: 4px;
			display: none;
			left: 0;
			position: absolute;
			top: 0;
			width: 320px;
			border-top: 3px solid red;
			box-shadow: 4px 8px 10px 0 rgba(#000, 0.2);
		}
		
		h3 {
			font-weight: $font-weight-normal;
			margin-top: 0;
		}
		
		p {
			font-size: .875rem;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		&.dark-blue {
			border-color: $dark-blue;
		}
		
		&.blue {
			border-color: $blue;
		}
	}
}