header {
	background: url('../images/bg_img_full.png') top center no-repeat #fff;
	border-bottom: 1px solid $border-color;
	
	.navbar {
		padding: 0;
	}
	
	.navbar-brand {
		img {
			height: auto;
			max-width: 200px;
		}
		
		@include media-breakpoint-up(sm) {
			img {
				max-width: 300px;
			}
		}
	}
	
	.navbar-toggler {
		img {
			width: 30px;
			height: auto;
		}
	}
	
	.navbar-collapse {
		margin-left: -($grid-gutter-width / 2);
		margin-right: -($grid-gutter-width / 2);
	}
	
	.navbar-nav {
		li {
			border-top: 1px solid $border-color;
			background: $light;
		}
		
		@include media-breakpoint-up(md) {
			margin: auto ($grid-gutter-width / 2) auto auto;
			
			li {
				background: none;
				border: 0;
				
				& + li {
					margin-left: 1.5rem;
				}
			}
		}
	}
	
	.nav-link {
		letter-spacing: $letter-spacing;
		text-transform: uppercase;
		position: relative;
		padding-top: .75rem;
		padding-bottom: .75rem;
		
		&:after {
			content: '';
			width: 100%;
			height: 0;
			background: $primary;
			position: absolute;
			left: 0;
			bottom: -.5em;
			transition: $transition-base;
		}
		
		@include media-breakpoint-down(sm) {
			font-size: 1.25rem;
			text-align: center;
		}
		
		@include media-breakpoint-up(md) {
			padding: 0 !important;
			
			&:hover,
			&:focus {
				&:after {
					height: 3px;
				}
			}
		}
	}
}