$primary: #cd1e1e;
$secondary: #29BABD;
$info: #3e91f7;
$warning: #D38042;
$success: #10a54a;
$danger: $primary;

$blue: #0e7dc0;
$dark-blue: #0d5d84;
$grey: #7e888c;
$orange: #f17023;
$purple: #3c507c;
$turquoise: #228282;
$yellow: #e5aa25;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$light: $white;
$dark: $black;

$body-color: $dark;

// Typography

$font-family-sans-serif: 'Open Sans', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: $font-weight-normal;
$font-weight-bolder: $font-weight-bold;

$font-size-base: 1rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
$font-size-xxs: .625rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

$headings-margin-bottom: 1rem;
$paragraph-margin-bottom: 1rem;

$link-decoration: none;
$link-hover-decoration: $link-decoration;

$letter-spacing: .08em;

// Grid settings
$grid-gutter-width: 40px;
$spacer: 1rem;

$spacers: (
	1: $spacer,
	2: $spacer * 2,
	3: $spacer * 3,
	4: $spacer * 4,
	5: $spacer * 5,
	6: $spacer * 6,
);

$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 1200px,
	lg: 1600px,
	xl: 1920px
);

$container-max-widths: (
	md: 1100px,
	lg: 1400px
);

// Navbar

$navbar-brand-padding-y: ($grid-gutter-width / 2);

$navbar-light-color: #000;
$navbar-light-toggler-border-color: transparent;

// Components

$border-color: #d8dadb;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Code, pre, and similar

$code-color: $body-color;
$pre-color: $code-color;
$kbd-color: $pre-color;

// Fontawesome

$fa-font-path: "/assets/fonts";
$fa-font-size-base: $font-size-base;

// Swagger

$_color-post: $success;
$_color-get: $info;
$_color-put: $danger;
$_color-delete: $danger;
$_color-head: #9012fe;
$_color-patch: $danger;
$_color-disabled: #ebebeb;
$_color-options: $success;

$opblock-summary-method-background-color: $black;
$opblock-summary-method-font-color: $white;
$opblock-summary-method-text-shadow-color: transparent;