<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.title }} | {{ page.title }}</title>
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
	<link href="assets/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<div class="container">
			<img src="assets/images/mast-logo.png" class="brand-logo" />
		</div>
		<nav>
			<div class="container">
				<ul>
					{% for nav in site.main_navigation %}
					<li><a href="{{ nav[1] }}">{{ nav[0] }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
	</header>
	
	<main>
		<div class="container">
			{{ content }}
		</div>
	</main>
	
	<footer>
		<div class="container">
			<p>
				&copy;2019 {{ site.title }} |
				<a href="#link">License Info</a> |
				<a href="https://github.com/unifiedcompliance/agreements/blob/master/COPYRIGHT.md">Copyright Agreement</a>
			</p>
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script>
		(function( $ ) {
			$( '.element-container .element' ).on( 'click', function() {
				// Hide all element popovers
				$( '.element-container .element .popover' ).fadeOut( 'fast' );
				$( this ).find( '.popover' ).fadeToggle( 'fast' );
			} );
			
			$( document ).on( 'click', function( e ) {
				var target = $( e.target );
				
				if( !target.closest( '.element-container' ).length ) {
					// Hide all element popovers
					$( '.element-container .element .popover' ).fadeOut( 'fast' );
				}
			} );
		})( jQuery );
	</script>
</body>
</html>