<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.title }} | {{ page.title }}</title>
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
	<link href="sass/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<img src="images/mast-logo.png" class="brand-logo" />
		<nav>
			<ul>
				<li><a href="docs.html">Docs</a></li>
				<li><a href="#link">Downloads</a></li>
				<li><a href="#link">Contribute</a></li>
				<li><a href="#link">Agreements &amp; License</a></li>
			</ul>
		</nav>
	</header>
	
	<main>{{ content }}</main>
	
	<footer>
		<h2>License and Agreement</h2>
		<p>For License information see `insert URL`.</p>
		<p>For Agreement information see
			<a href="https://github.com/unifiedcompliance/agreements/blob/master/COPYRIGHT.md">Copyright Agreement</a>
		</p>
	</footer>
</body>
</html>